<section id="about" class="standard-flex">
  <h2>About</h2>

  <p>
    Nectar Fusion Playground is a queer-led, culture-shaping space to explore
    creative expression and connection through the improvisational form of
    fusion partner dance, and beyond.
  </p>

  <p>Here, we invite:</p>

  <ul>
    <li>Dancing together free of normative gender roles — you do you</li>
    <li>
      Honoring the function of form — come take a class, be mindful of our
      bodies in space
    </li>
    <li>
      Challenging ourselves from whatever level we're at — all are welcome
    </li>
    <li>Prioritizing attunement, play, and relating over transacting</li>
    <li>Taking care of ourselves and each other</li>
    <li>Practicing radical, enthusiastic consent</li>
    <li>Co-creating an inclusive and courageous environment to be real in</li>
    <li>
      Getting juiced so that we can continue to do the hard work of building a
      better world
    </li>
  </ul>

  <p>
    This is a BIPOC and LGBTQIA2S+ friendly space. No racism, bigotry, or
    hateful speech or actions will be tolerated.
  </p>
</section>
