<script>
  ;(function () {
    const pool = document.querySelector('.events-pool')
    const tonightList = document.querySelector('#tonight .events-list')
    const upcomingList = document.querySelector('#upcoming .events-list')
    const container = document.getElementById('events')
    if (!pool || !tonightList || !upcomingList || !container) return

    const today = new Date()

    const events = Array.from(pool.querySelectorAll('.event'))
    pool.innerHTML = ''

    events.forEach((el) => {
      const thisDate = new Date(el.getAttribute('data-date'))
      if (!thisDate) return
      if (thisDate < today) return
      if (thisDate === today) tonightList.appendChild(el)
      else upcomingList.appendChild(el)
    })

    console.log(tonightList.children.length, upcomingList.children.length)
    console.log(upcomingList)

    const tonightSection = document.getElementById('tonight')
    const upcomingSection = document.getElementById('upcoming')
    if (tonightList.children.length > 0)
      tonightSection.classList.remove('starts-hidden')
    if (upcomingList.children.length > 0)
      upcomingSection.classList.remove('starts-hidden')
    if (tonightList.children.length > 0 || upcomingList.children.length > 0)
      container.classList.remove('starts-hidden')
  })()
</script>
