<script>
  function toIsoDateString(date) {
    const y = date.getFullYear()
    const m = String(date.getMonth() + 1).padStart(2, '0')
    const d = String(date.getDate()).padStart(2, '0')
    return `${y}-${m}-${d}`
  }

  function isIsoDateString(string) {
    return /^\d{4}-\d{2}-\d{2}$/.test(string) && !isNaN(new Date(string))
  }

  ;(function () {
    const pool = document.querySelector('.events-pool')
    const tonightList = document.querySelector('#tonight .events-list')
    const upcomingList = document.querySelector('#upcoming .events-list')
    const container = document.getElementById('events')
    if (!pool || !tonightList || !upcomingList || !container) return

    const todayStr = toIsoDateString(new Date())

    const events = Array.from(pool.querySelectorAll('.event'))
    pool.innerHTML = ''

    events.forEach((el) => {
      const dateStr = el.getAttribute('data-date')
      if (isIsoDateString(dateStr)) {
        if (dateStr === todayStr) {
          tonightList.appendChild(el)
          return
        }
        if (dateStr < todayStr) return // reject past event
      }
      upcomingList.appendChild(el) // if upcoming OR if date is unparsable
    })

    const tonightSection = document.getElementById('tonight')
    const upcomingSection = document.getElementById('upcoming')
    if (tonightList.children.length > 0)
      tonightSection.classList.remove('starts-hidden')
    if (upcomingList.children.length > 0)
      upcomingSection.classList.remove('starts-hidden')
    if (tonightList.children.length > 0 || upcomingList.children.length > 0)
      container.classList.remove('starts-hidden')
  })()
</script>
