<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <section class="hero">
      <p class="above-title">Welcome To</p>
      <h1>Nectar</h1>
      <p class="subtitle">Fusion</p>
      <p class="below-title">Playground</p>
    </section>
    <main>{{ content }}</main>

    <footer>
      <p>{{ site.title }}</p>
    </footer>
  </body>
</html>
